<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board Main</title>
</head>
<body>
<h2 style="text-align: center">Board List</h2>
<div style="text-align: center; display: flex; justify-content: center">
  <table style="text-align: center" border = 1>
    <tr>
      <th>Like</th>
      <th>No</th>
      <th>Title</th>
      <th>Writer</th>
      <th>WriteDate</th>
      <th>CommentCount</th>
      <th>ViewCount</th>
    </tr>
    <tr th:each="board : ${lists}">
    <form th:action="'/like/check?postNo=' + ${board.postNo} + '&userNo=' + ${user.userNo}" method="post">
      <td th:if="${board.isLike}">
        <input type="submit" value="unLike"></span>
      </td>
      <td th:unless="${board.isLike}">
        <input type="submit" value="like"></span>
      </td>
    </form>
      <td th:text="${board.postNo}"></td>
      <td th:text="${board.title}"></td>
      <td th:text="${board.writer}"></td>
      <td th:text="${board.writeDateTime}"></td>
      <td th:text="${board.commentCount}"></td>
      <td th:text="${board.viewCount}"></td>
    </tr>
  </table>
</div>
<br />
<div style="text-align: center">
  <a th:href="'/board/view?page=' + ${page - 1}" th:if="${page} != 0" th:text="prev"></a>
  <span th:text="'('+ ${page} + 'page)'"></span>
  <a th:href="'/board/view?page=' + ${page + 1}" th:if="${isEnd} == 0" th:text="next"></a>
</div>
</body>
</html>